.tab-buttons button {
    background: rgb(195, 151, 217);
    border: 2px solid rgb(195, 151, 217);
    border-radius: 0px !important;
    margin-right: 4px;
}

.tab-buttons button.tab.active {
    background: #8a14a2;
    border: 2px solid #8a14a2;
}

.tab-buttons {
    width: 100%;
    text-align: left;
    border-bottom: 3px solid #8a14a2;
}